#midnightblue-heading {
  color: midnightblue;
  font-family: fantasy;
  font-size: 60px;
}

/*h1 {
<p class= "fantasy-paragraph"> This page is about crazy stuff that you wish that you wish you could do.
}
